@import "@acme/ui/globals.css";

@import "@fontsource-variable/geist-mono";
@import "@fontsource-variable/space-grotesk";

@layer base {
  :root {
    --font-sans: "Space Grotesk Variable", "Space Grotesk", sans-serif;
    --font-heading: "Space Grotesk Variable", "Space Grotesk", sans-serif;
    --font-geist-mono: "Geist Mono Variable";
    --font-mono: "Geist Mono Variable", monospace;
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}
